 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

     <h1>Update Employee</h1>    

  <form action="#" th:action="@{/save}" th:object="${employee}" method="post">
  <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />
   <input type="text" th:field="*{emp_name}" placeholder="Enter your emp Name"/><br/>
   <input type="text" th:field="*{empemail}" placeholder="Enter your emp Email"/><br/>
   <input type="submit" value="Update Employee"/>   
  
  </form>
  <hr>
  <a th:href="@{/}">Go Back to Employee List</a>

</body>
</html>